<nav class="navbar topbar">
  <div class="container-fluid">
    <ul class="nav d-flex">
      <li class="nav-item">
        <a class="nav-link" href="#">Find Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">support@ox.com</a>
      </li>
    </ul>
    <ul class="nav d-flex">
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Track Your Order</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar middlebar">
  <div class="container-fluid">
    <a class="navbar-brand fs-1 fw-bold">OX</a>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <fa-icon style="color: white" [icon]="['fas', 'bars']" size="2x" class="onlyTab"></fa-icon>

    <ul class="nav allIcons">
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><fa-icon style="color: white" [icon]="['fas', 'user']"></fa-icon
        >
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><fa-icon style="color: white" [icon]="['fas', 'repeat']"></fa-icon
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><fa-icon style="color: white" [icon]="['fas', 'heart']"></fa-icon
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><fa-icon style="color: white" [icon]="['fas', 'cart-plus']"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar menubar">
  <div class="container-fluid">
    <ul class="nav d-flex">
      <li class="nav-item">
        <div class="d-flex align-items-center px-2 bg-danger">
          <fa-icon style="color: white" [icon]="['fas', 'bars']" size="1x"></fa-icon>
          <a class="nav-link text-white" href="#"
            >All Departments
            <fa-icon
              style="color: white"
              [icon]="['fas', 'angle-down']"
            ></fa-icon
          ></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Featured</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Promotion</a>
      </li>
    </ul>
    <ul class="nav d-flex">
      <li class="nav-item">
        <a class="nav-link" href="#">USD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">English</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul> -->
