.topbar,
.navbar {
  background: #111827;
}

.topbar {
  height: 42px;
  border-bottom: 0.1px solid white;
}

.middlebar {
  height: 70px;
}

.menubar {
  background-color: white;

}

.menubar .nav-link {
  color: black;
}

.nav-link,
.navbar-brand {
  color: white;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

.mobileBars {
  display: none;
}

/* Mobile */
@media only screen and (max-width:768px) {

  .topbar,
  .menubar
   {
    display: none;
  }
  .mobileBars, .allIcons{
    display: flex;
  }

}

/* Tablet */
@media only screen and  (min-width:769px) and (max-width: 1000px){

  .topbar,
  .menubar,
  .allIcons {
    display: none;
  }

  .mobileBars {
    display: block;
  }
}

@media only screen and (min-width:1001px) {
   .topbar{
    display: block;
  }
}
